name: Send message

on:
  workflow_dispatch:
    inputs:
      recipient:
        description: Recipient's phone number
        required: true
        default: "07"
      message:
        description: Message
        required: true

jobs:
  send_message:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    concurrency: signal-cli
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: yarn
      - run: yarn test
      - run: yarn build
      # From here we only run if on main branch
      - if: github.ref == 'refs/heads/main'
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "17"
      - run: curl -L "https://github.com/AsamK/signal-cli/releases/download/v0.11.2/signal-cli-0.11.2-Linux.tar.gz" | tar -zx
      - run: echo "RANDOM_SUFFIX=${RANDOM}${RANDOM}" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          path: .signal-cli-data
          key: signal-cli-data-${{ env.RANDOM_SUFFIX }}
          restore-keys: |
            signal-cli-data-
      - run: yarn start -- message "${{ github.event.inputs.recipient }}" "${{ github.event.inputs.message }}"
        env:
          SIGNAL_USER: ${{ secrets.SIGNAL_USER }}
          MYCLUBHOUSE_ACCESS_TOKEN: ${{ secrets.MYCLUBHOUSE_ACCESS_TOKEN }}
