name: Sync with myClubhouse

on:
  schedule:
    - cron: "23 */4 * * *" # Every 4 hours
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    concurrency: signal-cli
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: yarn
      - run: yarn test
      - run: yarn build
      # From here we only run if on main branch
      - if: github.ref == 'refs/heads/main'
        uses: ./.github/actions/setup-signal-cli
      - if: github.ref == 'refs/heads/main'
        run: yarn start -- sync
        env:
          DRY_RUN: ${{ github.ref == 'refs/heads/main' && 'false' || 'true' }}
          SIGNAL_USER: ${{ secrets.SIGNAL_USER }}
          MYCLUBHOUSE_ACCESS_TOKEN: ${{ secrets.MYCLUBHOUSE_ACCESS_TOKEN }}
